{%- extends 'lab/index.html.j2' -%}

{% block body_header %}
  <div class="header">Find this notebook in the <a href="http://github.com/mbari-org/pacific-sound-notebooks">Pacific-Sound-Notebook GitHub Repository</a>
  </div>
{% endblock body_header %}

{% block body_footer %}
  </div>
  </body>
{% endblock body_footer %}